
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        @*<div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-sitemap fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @Model.PagesCount
                            </div>
                            <div>
                                Pages
                            </div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Pages")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span> <span class="pull-right">
                            <i class="fa fa-arrow-circle-right">
                            </i>
                        </span>
                        <div class="clearfix">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-book fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @Model.PublicationsCount
                            </div>
                            <div>
                                Publications
                            </div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Publications")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span> <span class="pull-right">
                            <i class="fa fa-arrow-circle-right">
                            </i>
                        </span>
                        <div class="clearfix">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bullhorn fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @Model.MediaCenterEntriesCount
                            </div>
                            <div>
                                Media Center Entries
                            </div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Listing", "MediaCenterEntries")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span> <span class="pull-right">
                            <i class="fa fa-arrow-circle-right">
                            </i>
                        </span>
                        <div class="clearfix">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-camera fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @Model.PhotoAlbumsCount
                            </div>
                            <div>
                                Photo Albums
                            </div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "PhotoAlbums")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span> <span class="pull-right">
                            <i class="fa fa-arrow-circle-right">
                            </i>
                        </span>
                        <div class="clearfix">
                        </div>
                    </div>
                </a>
            </div>
        </div>*@
    </div>
</div>


