@model PagedList.IPagedList<ComplaintManagementPortal2.Models.Complaint>
@using PagedList.Mvc;

@{
    ViewBag.Title = "My Complaints";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/AdminTheme/PagedList.css" rel="stylesheet" type="text/css" />

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                My Complaints
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-12">
            @if (Model.Count() > 0)
            {
                <div class="table-responsive main-table">
                    <table class="table table-hover1">
                        <thead>
                            <tr class="grid-header">
                                <th style="width:10%">
                                    @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th style="width:40%">
                                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th style="width:20%">
                                    @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>


                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("CustomerView", "Complaints", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Id)</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("CustomerView", "Complaints", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("CustomerView", "Complaints", new { id = item.Id })">@Html.DisplayFor(modelItem => item.ComplaintsStatus.Name)</a>
                                </td>
                            </tr>
                        }
                    </table>
                    <br />
                    <div>
                        @if (@Model.PageCount > 1)
                        {
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        }
                    </div>
                </div>
            }
            else
            {
                <p class="text-warning text-center">There are no Complaints yet for the selected language</p>

            }

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
